div {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 12em;
}

svg {
    background-color: darkorchid;
    border-radius: 15px;
}

.hide {
    display: none;
}

circle {
    fill: black;
}

g {
    width: 200%;
    height: 200%
}