div {
    justify-content: center;
    display: flex;
    margin-top: 70px;
}

svg {
    background-color: darkorchid;
    border-radius: 15px;
}

.hide {
    display: none;
}

p {
    background-color: wheat;
}