<div class="component">
    <h1>
        Co chcesz ćwiczyć?</h1>
    <h3>Wybierz czynność</h3>
    <div class="veryWide">
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Fikołek</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/tumble.png" alt="tumble" title="click here to see tumble" routerLink="/tumble">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Salto</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/somersault.png" alt="somersault" title="click here to see somersault" routerLink="/somersault">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Biegnij, biegnij!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/runRun.png" alt="Biegnij, biegnij!" title="click here to see me running" routerLink="/run">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skakanka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/skippingrope.png" alt="Poskacz na skakance" title="click here to see me skipping" routerLink="/skippingrope">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Squash</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/squash.png" alt="Zagraj w squasha" title="click here to see me playing squash" routerLink="/squash">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Pajacyk</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/jumpingJack.png" alt="jumpingJack" title="click here to see me making jumping jacks" routerLink="/jumpingJack">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skacz!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/hopHop.png" alt="hop, hop" title="click here to see me jumping" routerLink="/hopHop">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Ruszaj rękami!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/moveHands.png" alt="move hands" title="click here to see  me moving hands" routerLink="/moveHands">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Siatkówka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/volleyball.jpg" alt="Zagraj w siatkówkę" title="click here to see me playing volleyball" routerLink="/volleyball">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Popływaj</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/swim.png" alt="Popływaj sobie" title="click here to see me swimming" routerLink="/swim">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="normal">
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Fikołek</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/tumble.png" alt="tumble" title="click here to see tumble" routerLink="/tumble">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Salto</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/somersault.png" alt="somersault" title="click here to see somersault" routerLink="/somersault">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Biegnij, biegnij!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/runRun.png" alt="Biegnij, biegnij!" title="click here to see me running" routerLink="/run">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skakanka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/skippingrope.png" alt="Poskacz na skakance" title="click here to see me skipping" routerLink="/skippingrope">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Squash</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/squash.png" alt="Zagraj w squasha" title="click here to see me playing squash" routerLink="/squash">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Pajacyk</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/jumpingJack.png" alt="jumpingJack" title="click here to see me making jumping jacks" routerLink="/jumpingJack">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skacz!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/hopHop.png" alt="hop, hop" title="click here to see me jumping" routerLink="/hopHop">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Ruszaj rękami!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/moveHands.png" alt="move hands" title="click here to see  me moving hands" routerLink="/moveHands">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Siatkówka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/volleyball.jpg" alt="Zagraj w siatkówkę" title="click here to see me playing volleyball" routerLink="/volleyball">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Popływaj</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/swim.png" alt="Popływaj sobie" title="click here to see me swimming" routerLink="/swim">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="narrow">
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Fikołek</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/tumble.png" alt="tumble" title="click here to see tumble" routerLink="/tumble">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Salto</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/somersault.png" alt="somersault" title="click here to see somersault" routerLink="/somersault">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Biegnij, biegnij!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/runRun.png" alt="Biegnij, biegnij!" title="click here to see me running" routerLink="/run">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skakanka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/skippingrope.png" alt="Poskacz na skakance" title="click here to see me skipping" routerLink="/skippingrope">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Squash</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/squash.png" alt="Zagraj w squasha" title="click here to see me playing squash" routerLink="/squash">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Pajacyk</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/jumpingJack.png" alt="jumpingJack" title="click here to see me making jumping jacks" routerLink="/jumpingJack">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skacz!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/hopHop.png" alt="hop, hop" title="click here to see me jumping" routerLink="/hopHop">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Ruszaj rękami!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/moveHands.png" alt="move hands" title="click here to see  me moving hands" routerLink="/moveHands">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Siatkówka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/volleyball.jpg" alt="Zagraj w siatkówkę" title="click here to see me playing volleyball" routerLink="/volleyball">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Popływaj</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/swim.png" alt="Popływaj sobie" title="click here to see me swimming" routerLink="/swim">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="veryNarrow">
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Fikołek</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/tumble.png" alt="tumble" title="click here to see tumble" routerLink="/tumble">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Salto</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/somersault.png" alt="somersault" title="click here to see somersault" routerLink="/somersault">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Biegnij, biegnij!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/runRun.png" alt="Biegnij, biegnij!" title="click here to see me running" routerLink="/run">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skakanka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/skippingrope.png" alt="Poskacz na skakance" title="click here to see me skipping" routerLink="/skippingrope">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Squash</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/squash.png" alt="Zagraj w squasha" title="click here to see me playing squash" routerLink="/squash">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Pajacyk</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/jumpingJack.png" alt="jumpingJack" title="click here to see me making jumping jacks" routerLink="/jumpingJack">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skacz!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/hopHop.png" alt="hop, hop" title="click here to see me jumping" routerLink="/hopHop">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Ruszaj rękami!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/moveHands.png" alt="move hands" title="click here to see  me moving hands" routerLink="/moveHands">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Siatkówka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/volleyball.jpg" alt="Zagraj w siatkówkę" title="click here to see me playing volleyball" routerLink="/volleyball">
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Popływaj</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/swim.png" alt="Popływaj sobie" title="click here to see me swimming" routerLink="/swim">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ultraNarrow">
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Fikołek</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/tumble.png" alt="tumble" title="click here to see tumble" routerLink="/tumble">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Salto</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/somersault.png" alt="somersault" title="click here to see somersault" routerLink="/somersault">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Biegnij, biegnij!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/runRun.png" alt="Biegnij, biegnij!" title="click here to see me running" routerLink="/run">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skakanka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/skippingrope.png" alt="Poskacz na skakance" title="click here to see me skipping" routerLink="/skippingrope">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Squash</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/squash.png" alt="Zagraj w squasha" title="click here to see me playing squash" routerLink="/squash">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Pajacyk</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/jumpingJack.png" alt="jumpingJack" title="click here to see me making jumping jacks" routerLink="/jumpingJack">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Skacz!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/hopHop.png" alt="hop, hop" title="click here to see me jumping" routerLink="/hopHop">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Ruszaj rękami!</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/moveHands.png" alt="move hands" title="click here to see  me moving hands" routerLink="/moveHands">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Siatkówka</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/volleyball.jpg" alt="Zagraj w siatkówkę" title="click here to see me playing volleyball" routerLink="/volleyball">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h2>Popływaj</h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="./assets/exer/swim.png" alt="Popływaj sobie" title="click here to see me swimming" routerLink="/swim">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>